@page "/Home"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Pancake_Final.Domain
@using Pancake_Final.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Pancake_Final.Data.Pancake_FinalContext> DbFactory

<PageTitle>Index</PageTitle>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="Home.razor.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img class="HeaderLogo" src="/images/pancakeLogo.png" alt="Logo">Pancake
    </header>
    <div class="SearchBarDiv">
        <input class="SearchBar" placeholder="Enter a song" />
        <button class="SearchButton"> Search </button>
    </div>
    <main>
        <div class="SongContainer">
            <table class="song-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Album</th>
                        <th>Date Added</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    @* @foreach (var song in Songs)
                    {
                        <tr>
                            <td>@song.Number</td>
                            <td>@song.Title</td>
                            <td>@song.Artist</td>
                            <td>@song.Album</td>
                            <td>@song.DateAdded.ToShortDateString()</td>
                            <td>@song.Duration</td>
                        </tr>
                    } *@
                </tbody>
            </table>
        </div>
        <div class="card-container">
            <div class="PlaylistCard">
                <img src="/images/Music Icon.jpg" alt="Image 1" class="P1image">
                <div class="card-content">
                    <h3 class="card-title">Recommended Playlist 1</h3>
                    <p class="card-text">--Description--</p>
                    <a href="#" class="card-button">Play</a>
                </div>
            </div>
            <div class="PlaylistCard">
                <img src="/images/Music Icon.jpg" alt="Image 1" class="P1image">
                <div class="card-content">
                    <h3 class="card-title">Recommended Playlist 2</h3>
                    <p class="card-text">--Description--</p>
                    <a href="#" class="card-button">Play</a>
                </div>
            </div>
            <div class="PlaylistCard">
                <img src="/images/Music Icon.jpg" alt="Image 1" class="P1image">
                <div class="card-content">
                    <h3 class="card-title">Recommended Playlist 3</h3>
                    <p class="card-text">--Description--</p>
                    <a href="#" class="card-button">Play</a>
                </div>
            </div>
        </div>
    </main>
    <div class="AudioPlayback">
        <audio controls>
            <source src="music/Goblin Slayer - Rightfully _ Mili [Full].mp3" />
        </audio>
    </div>
</body>
</html>

@* <QuickGrid Class="table" Items="context.Song"> *@
@*     <PropertyColumn Property="song => song.Name" /> *@
@*     <PropertyColumn Property="song => song.AlbumID" /> *@
@*     <PropertyColumn Property="song => song.GenID" /> *@
@*     <PropertyColumn Property="song => song.DateCreated" /> *@
@*     <PropertyColumn Property="song => song.DateUpdated" /> *@
@*     <PropertyColumn Property="song => song.CreatedBy" /> *@
@*     <PropertyColumn Property="song => song.UpdateBy" /> *@

@*     <TemplateColumn Context="song"> *@
@*         <a href="@($"songs/edit?id={song.Id}")">Edit</a> | *@
@*         <a href="@($"songs/details?id={song.Id}")">Details</a> | *@
@*         <a href="@($"songs/delete?id={song.Id}")">Delete</a> *@
@*     </TemplateColumn> *@
@* </QuickGrid> *@

@code {
    private Pancake_FinalContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
